@import '../../base.scss';

$text-color: #b1bdb4;

.channelHeader {
    border-bottom: 1px solid $border-color;

    h3 {
        color: $text-color;
    }

    span {
        color: $text-color;
    }

    &_left {
        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-right: .8rem;
        }
    }

    .subscribe {
        text-transform: uppercase;
        background-color: #1f6cab;
        border-radius: 1rem;
        color: #fff;
        font-size: 1rem;
        padding: .4rem .6rem;
        border: none;
        transition: .3s;

        &:hover {
            background-color: #00e6f6;
            color: #082a3a;
            box-shadow: 0 0 .5rem #00e6f6;
        }
    }

    .nots {
        background: transparent;
        border: 1px solid #00e6f6;
        color: #00e6f6;
        font-weight: bold;
    }


}

@media (max-width :$breakpoint-medium) {
    .channelHeader {
        padding: 1.1girem 0;

        img {
            width: 50px;
            height: 50px;
        }

        h3 {
            font-size: 1rem;
            margin: 0;
        }
    }
}