@import '../../base.scss';

.login {

    height: 100vh;
    display: grid;
    place-items: center;

    &_container {
        // background-color: $black-secondary;
        padding: 2rem;
        margin: 0 1rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;

        background: rgba(9, 9, 9, 0.6);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        button {
            padding: .5rem;
            border: none;
            border-radius: 5px;
            margin-bottom: 1rem;
            background-color: #fff;

            &:focus {
                outline: none;
            }
        }

        p {
            background: none;
            color: $text-color;
        }


    }

    video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    img {
        height: 130px;
        width: 130px;
        object-fit: contain;
        background: none;
    }
}