@import '../../base';

$text-color: #b1bdb4;

.videoMetaData {

    color: $text-color;

    &_top {
        span {
            cursor: pointer;
        }

        .like {
            color: rgb(216, 50, 50);
        }

        .dislike {
            color: $text-color;
        }
    }

    &_channel {
        border-top: .2px solid $border-color;
        border-bottom: .2px solid $border-color;

        img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        .subscribe {
            text-transform: uppercase;
            background-color: #1f6cab;
            border-radius: 1rem;
            color: #fff;
            font-size: 1rem;
            padding: .4rem .6rem;
            transition: .3s;

            &:hover {
                background-color: #00e6f6;
                color: #082a3a;
                box-shadow: 0 0 .5rem #00e6f6;
            }
        }

        .nots {
            background: transparent;
            border: 1px solid #00e6f6;
            color: #00e6f6;
            font-weight: bold;
        }
    }

    &_description {
        font-size: .9rem;
        white-space: pre-line;
        border-bottom: .2px solid $border-color;

        .showMoreText {
            text-decoration: none;
            display: block;
            margin: 1rem 0;
            color: white;
            font-weight: 500;
        }
    }
}