@import '../../base.scss';

.categoriesBar {
    padding: 0.5rem 0;
    font-size: 0.8rem;
    display: flex;
    overflow-x: scroll;

    position: sticky;
    top: 71px;
    cursor: pointer;


    z-index: 999;

    background-color: $black-primary;

    span {
        margin-right: 1rem;
        padding: .5rem;
        white-space: nowrap;
        border: 1.5px solid #00e6f6;
        border-radius: 999px;
        color: $text-color;
        background-color: $black-secondary;
        transition: .2s;

        &:hover {
            background-color: #00e6f6;
            color: black;
            font-weight: bold;
            box-shadow: 0 0 .6rem #00e6f6;
            transform: scale(1.02);
        }

        &.active {
            color: #fff;
            background-color: #0279b0;
            border-color: $border-color;
        }
    }
}