@import './base.scss';

.app_container {
   display: flex;
   // height: 90vh;
   margin-top: 10vh;
}

//  .app__main {
//     overflow-y: scroll;
//  }


.sideBar {
   // background: $black-primary;
   background: none;

   display: flex;
   flex-direction: column;
   width: 250px;
   height: 90vh;
   padding-top: 2rem;
   transition: transform 0.2s ease-in;
   // margin-top: 10vh;
   position: sticky;
   top: 10vh;




   li {
      display: flex;
      align-items: center;
      color: #00e6f6;
      padding: 0.6rem 1.5rem;
      margin: 0.2rem 0;
      cursor: pointer;
      transition: .3s;


      span {
         margin-left: 1rem;
         font-size: 14px;
         font-weight: 500;
         letter-spacing: 0.4px;
         transition: .3s;
      }

      .icon {
         transition: .3s;
      }

      &:hover {
         // background-color: $border-color;
         box-shadow: 0 0 .7rem #00e6f6;
         border-radius: 5px;
         background-color: #00e6f6;

         .icon {
            color: $black-primary;
            background-color: #00e6f6;
         }

         span {
            background-color: #00e6f6;
            color: $black-primary;
            font-weight: bold;
         }

         // .icon {
         //    background-color: $border-color;
         // }

      }


   }

   hr {
      background-color: $border-color;
   }

   &.open {
      transform: translateX(0);
   }


}

@media (max-width: $breakpoint-medium) {
   .sideBar {
      width: 90px;

      li {
         justify-content: center;
      }

      span {
         display: none;
      }
   }
}

@media (max-width: $breakpoint-small) {
   .sideBar {
      transform: translateX(-100%);

      position: fixed;
      z-index: 999;
   }
}